.entry .title,
.entry .title:visited
{
	color: #777;
	text-decoration: none;
	font-size: 25px;
}
.entry .title:hover
{
	text-decoration: underline;
}

.entry .content a,
.entry .content a:visited
{
	color: #777;
	text-decoration: none;
}
.entry .content a:hover
{
	text-decoration: underline;
}

.entry .content p
{
	margin-bottom: 0px;
}

.entry .content img
{
	width: 100%;
	border-radius: 5px;
}

.entry .content pre code
{
	display: block;
	margin-left: 5%;
	overflow-x: auto;
}
