.entry
{
	background-color: #fff;
	padding: 20px 20px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.entry .content
{
	transition: max-height 2s;
		-webkit-transition: max-height 2s;
		-moz-transition: max-height 2s;
		-ms-transition: max-height 2s;

	overflow: hidden;

	max-height: 300px;
	box-shadow: inset 0px -20px 20px -20px black;
}
.entry.expand .content
{
	max-height: 2000px;
	box-shadow: none;
}
.entry.expanded .content
{
	max-height: none;
	overflow: visible;
	box-shadow: none;
}
.entry.expand .readMore,
.entry.expanded .readMore
{
	display: none;
}

.entry .readMore:hover
{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

.entry .title
{
	color: #222;
	text-decoration: none;
	font-size: 15pt;
}
.entry .title:hover
{
	text-decoration: underline;
}

.entry img
{
	width: 100%;
}

.entry p
{
	margin-bottom: 0px;
}
