.menu
{
	background-color: #222;
}

.menu .page
{
	display: inline-block;
}

.menu .page .name
{
	display: inline-block;
	height: 50px;
	padding: 0px 10px;

	background-color: #222;
	color: #eee;

	line-height: 50px;
	vertical-align: center;
	text-decoration: none;
}

.menu .page .name:hover,
.menu .page:hover > .name
{
	background-color: #000;
	color: #2ea2cc;
}

.menu .page.current > .name
{
	background-color: #2ea2cc;
	color: #fff;
	text-align: center;
}

.meru .page .arrow,
.menu .page.current:hover .arrow
{
	transition: border-bottom 0.2s, margin-top 0.2s;
		-webkit-transition: border-bottom 0.2s, margin-top 0.2s;
		-moz-transition: border-bottom 0.2s, margin-top 0.2s;
		-ms-transition: border-bottom 0.2s, margin-top 0.2s;

	border-bottom: 0px solid #fff;
	margin-top: 0px;
}

.menu .page.current .arrow
{
	transition: border-bottom 0.2s, margin-top 0.2s;
		-webkit-transition: border-bottom 0.2s, margin-top 0.2s;
		-moz-transition: border-bottom 0.2s, margin-top 0.2s;
		-ms-transition: border-bottom 0.2s, margin-top 0.2s;

	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-bottom: 10px solid #fff;

	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;

	position: relative;
	z-index: 10;
}

.menu .page .dropdown
{
	transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-ms-transition: all 0.4s;

	display: inline-block;
	background-color: #222;
	box-shadow: none;
	max-height: 0px;
	position: absolute;
	overflow: hidden;
}

.menu .page:hover .dropdown
{
	transition: all 0.4s, max-height 1s;
		-webkit-transition: all 0.4s, max-height 1s;
		-moz-transition: all 0.4s, max-height 1s;
		-ms-transition: all 0.4s, max-height 1s;

	box-shadow: 0px 4px 20px black;
	max-height: 500px;
	margin-top: 14px;
}

.menu .page .dropdown .name
{
	width: 100%;
}

.menu .page .dropdown .current .name
{
	background-color: #2ea2cc;
	color: #fff;
}
