#gui .mediaSelect
{
	position: fixed;
	z-index: 10;
	padding: 0px;
	overflow: hidden;

	width: 75%;
	height: 75%;
	left: 50%;
	margin: 0 0 0 -37.5%;
	top: 50%;
	transform: translateY (-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);

	background-color: #fff;
	box-shadow: 0px 0px 5px 3px #000;
}

#gui .mediaSelect .buttons
{
	background-color: #222;

	position: fixed;
	height: 100%;
	width: 20%;
	min-width: 100px;
}

#gui .mediaSelect .buttons .button
{
	padding: 8px 10px 10px 10px;
	margin: 0;

	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	line-height: 18px;

	background-color: #222;
	color: #eee;
	border-style: none;
	border-width: 0px;

	user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
}

#gui .mediaSelect .buttons .button:hover
{
	background-color: #000 !important;
	color: #2ea2cc !important;

	cursor: pointer;
	cursor: hand;
}

#gui .mediaSelect .buttons .button:active
{
	background-color: #2ea2cc !important;
	color: #fff !important;
}

#gui .mediaSelect .entries
{
	margin: 10px 0px;
	width: 80%;
	height: 100%;
	margin: 0;
	overflow-y: auto;
	text-align: left;
	float: right;
}

#gui .mediaSelect .entry
{
	display: inline-block;
	text-align: center;
}

#gui .mediaSelect .thumbnailContainer
{
	transition: all 0.5s;

	position: relative;

	width: 150px;
	height: 150px;

	margin: 5px;
	margin-top: 0px;
	overflow: hidden;

	border-style: solid;
	background-color: #000;
}

#gui .mediaSelect .thumbnailContainer .thumbnail
{
	transition: all 0.5s;

	width: 100%;
	height: 100%;
}

#gui .mediaSelect .thumbnailContainer:hover .thumbnail
{
	transform: scale(1.3);
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);

	opacity: 0.8;

	cursor: pointer;
	cursor: hand;
}

#gui .uploadMedia .fileInput
{
	display: none;
}
