#nav-wrapper
{
	width: 135px;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	direction: rtl;
}
#nav-wrapper:active
{
	width: 135px;
}

#nav
{
	display: inline-block;
	width: 115px;
	height: 100%;
	background-color: #222;
	padding-top: 0px;
	position: absolute;

	user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;

	float: left;
	left: 0px;
	direction: ltr;
}

#nav .navEntry .name
{
	margin-right: 5px;
	margin-top: 3px;
}
#nav .navEntry .dropdown
{
	display: none;
}

#nav .hasDropdown:hover .dropdown,
#nav .hasDropdown .dropdown:hover
{
	background-color: #222;
	display: block;
	position: absolute;
	margin-left: 105px;
	margin-top: -29px;
	white-space: nowrap;

	border-left-style: solid;
	border-width: 1px;
	border-color: #000;
}
#nav .hasDropdown:hover .dropdownEntry
{
	padding: 8px 15px 10px 10px;
}
#nav .hasDropdown:hover .dropdownEntry.child
{
	padding-top: 5px;
	padding-bottom: 5px;
}
#nav .hasDropdown:hover .dropdownEntry.child .name
{
	margin-left: 20px;
}
#nav .hasDropdown:hover .dropdownEntry .name
{
	color: #eee;
}
#nav .hasDropdown:hover .dropdownEntry:hover
{
	background-color: #000;
}
#nav .hasDropdown:hover .dropdownEntry:hover .name
{
	color: #2ea2cc;
}
#nav .navEntry .arrow
{
	display: none;
}

#nav .current .arrow
{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right: 10px solid #eee; 

	display: block;
	float: right;
	margin-right: -15px;
	margin-top: -18px;
}
#nav .hasDropdown:hover .arrow
{
	display: none !important;
}
#nav .hasDropdown .dropdown .current,
#nav .hasDropdown .dropdown .current:hover
{
	background-color: #2ea2cc;
}
#nav .hasDropdown .dropdown .current .name,
#nav .hasDropdown .dropdown .current:hover .name
{
	color: #fff;
}
