#page
{
	margin-top: 50px;
	margin-left: calc(115px + 50px);
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	max-width: calc(100% - 190px - 50px);
}

#page dd
{
	margin-left: 0px;
	margin-bottom: 10px;
}

#page.new,
#page.entries.edit
{
	width: 100%;
}

#page.new #title,
#page.entries.edit #title
{
	width: 100%;
}

#page.entries .entry .name
{
	display: inline;
}
#page.entries .entry .name:hover
{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

#page.media .entries
{
	margin-top: 10px;
}

#page.media .entry
{
	display: inline-block;
	text-align: center;
	margin: 5px 5px;
	position: relative;
}

#page.media .entry .name
{
	width: 150px;
	padding: 2px;
}

#page.media .entry .delete
{
	position: absolute;
	display: inline-block;
	line-height: 25px;
	top: -5px;
	right: -5px;
	width: 25px;
	height: 25px;

	border-radius: 25px;
	border-style: solid;
	border-color: black;

	color: white;
	background-color: #b11;

	font-weight: bold;
	text-align: center;
	vertical-align: middle;

	cursor: pointer;
	cursor: hand;
}

#page.media .entry .delete:hover
{
	background-color: #f11;
}

#page.media .thumbnailContainer
{
	transition: all 0.5s;

	position: relative;
	display: block;

	width: 150px;
	height: 150px;

	margin: 0 auto;
	overflow: hidden;

	border-style: solid;
	border-color: #000;
	background-color: #000;
}

#page.media .thumbnailContainer .thumbnail
{
	transition: all 0.5s;

	width: 100%;
	height: 100%;
}

#page.media .thumbnailContainer:hover .thumbnail
{
	transform: scale(1.3);
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);

	opacity: 0.8;

	cursor: pointer;
	cursor: hand;
}

#page.media .fileInput
{
	display: none;
};
