#panel
{
	margin-top: 50px;
	margin-left: calc(115px + 50px);
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	max-width: calc(100% - 190px - 50px);
	position: absolute;
	z-index: 0;
}

#panel dd
{
	margin-left: 0px;
	margin-bottom: 10px;
}

#panel .link
{
	display: inline;
}
#panel .link:hover
{
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
}

#panel.new,
#panel.posts.edit,
#panel.plugins.edit
{
	width: 100%;
}

#panel.new #title,
#panel.posts.edit #title
{
	width: 100%;
}

#panel.posts,
#panel.pages
{
	width: 100%;
}
#panel.posts .name
#panel.pages .name
{
	max-width: calc(100% - 70px);
	overflow: hidden;
	display: inline-block;
}
#panel.posts .buttons,
#panel.pages .buttons
{
	display: inline;
	float: right;
}

#panel.posts .post
{
	margin-bottom: 10px;
}

#panel.media .entries
{
	margin-top: 10px;
}

#panel.media .entry
{
	display: inline-block;
	text-align: center;
	margin: 5px 5px;
	position: relative;
}

#panel.media .entry .name
{
	width: 150px;
	padding: 2px;
}

#panel.media .entry .delete
{
	position: absolute;
	display: inline-block;
	line-height: 25px;
	top: -5px;
	right: -5px;
	width: 25px;
	height: 25px;

	border-radius: 25px;
	border-style: solid;
	border-color: black;

	color: white;
	background-color: #b11;

	font-weight: bold;
	text-align: center;
	vertical-align: middle;

	cursor: pointer;
	cursor: hand;
}

#panel.media .entry .delete:hover
{
	background-color: #f11;
}

#panel.media .thumbnailContainer
{
	transition: all 0.5s;

	position: relative;
	display: block;

	width: 150px;
	height: 150px;

	margin: 0 auto;
	overflow: hidden;

	border-style: solid;
	border-color: #000;
	background-color: #000;
}

#panel.media .thumbnailContainer .thumbnail
{
	transition: all 0.5s;

	width: 100%;
	height: 100%;
}

#panel.media .thumbnailContainer:hover .thumbnail
{
	transform: scale(1.3);
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);

	opacity: 0.8;

	cursor: pointer;
	cursor: hand;
}

#panel.media .fileInput
{
	display: none;
}

#panel.build #response
{
	white-space: pre;
	font-family: monospace;
	margin-top: 10px;
}

#panel.pages .entry .children
{
	margin-left: 55px;
}
#panel.pages .entry
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#panel.plugins .conf
{
	width: 100%;
	width: calc(100% - 10px);
	border-width: 1px;
	padding: 4px;
	height: 450px;
}

#panel.settings .entries .thumbnail
{
	height: 30px;
	cursor: pointer;
	cursor: hand;
}
