html, body
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.button
{
	user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;

	line-height: 18px;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;

	color: #eee;
	background-color: #222;

	display: block;
	padding: 8px 15px 10px 10px;
}
.button.rounded
{
	display: inline-block;
	border-radius: 10px;
}

.button:hover
{
	cursor: pointer;
	cursor: hand;
}
@media screen and (min-width: 600px)
{
	.button:hover
	{
		background-color: #000;
		color: #2ea2cc
	}
}


.button.current,
.button.current:hover,
.button:active
{
	background-color: #2ea2cc;
	color: #fff;
}

.hidden
{
	display: none;
}

.delete
{
	background-color: #b11;
}
.delete:before
{
	content: 'x';
}
.delete:hover
{
	background-color: #f11;
}

.arrow-up
{
	background-color: #555;
}
.arrow-up:before
{
	content: '\21D1';
}
.arrow-up:hover
{
	background-color: #aaa;
}

.arrow-down
{
	background-color: #555;
}
.arrow-down:before
{
	content: '\21D3';
}
.arrow-down:hover
{
	background-color: #aaa;
}

.delete, .arrow-up, .arrow-down
{
	border-radius: 5px;
	border-style: solid;
	border-color: black;

	color: white;

	font-weight: bold;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;

	cursor: pointer;
	cursor: hand;
	width: 20px;
	text-align: center;
	padding: 0px;

	-webkit-appearance: none;
	box-sizing: none;
}
.delete:focus, .arrow-up:focus, .arrow-down:focus
{
	outline: 0;
}

#menu-button
{
	display: none;
}

#ios-status-bar
{
	height: 20px;
	width: 100%;
	background-color: #000;
}
