.menu
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #222;
}

.menu .page
{
	display: inline-block;
}

.menu .page .name
{
	display: inline-block;
	height: 50px;
	padding: 0px 10px;

	background-color: #222;
	color: #eee;

	line-height: 50px;
	vertical-align: center;
	text-decoration: none;
}

.menu .page .name:hover
{
	background-color: #000;
	color: #2ea2cc;
}

.menu .page.current > .name
{
	background-color: #2ea2cc;
	color: #fff;
	text-align: center;
}

.meru .page .arrow
{
	display: none;
}

.menu .page.current .arrow
{
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-bottom: 10px solid #fff;

	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;

	z-index: 10;
}

.menu .page .dropdown
{
	display: none;
}

.menu .page:hover .dropdown
{
	display: inline-block;
	position: absolute;
	background-color: #222;
}

.menu .page:hover .dropdown .name
{
	width: 100%;
}

.menu .page .dropdown .current .name
{
	background-color: #2ea2cc;
	color: #fff;
	text-align: center;
}
