<div class="mediaSelect">
	<div class="buttons">

		<!--upload-->
		<form class="uploadMedia">
			<div class="button" onclick="this.nextElementSibling.click()">Upload</div>
			<input class="fileInput" type="file" name="file"
				onchange="lib.fileUpload(this.form, function(){gui.mediaSelectUpdate()})">
			<input type="hidden" name="token" value="{token}">
		</form>

		<!--close-->
		<div class = "button"
			onclick="gui.removeElement(this.parentNode.parentNode)">Close</div>
	</div>
	<div class="entries">
{entries}
	</div>
</div>
