<dl class="entries">
	<dt>Title</dt>
	<dd><input type="text" class="settingsEntry" data-key="title" value="{title}"></dd>

	<dt>Theme</dt>
	<dd><input type="text" class="settingsEntry" data-key="theme" value="{theme}"></dd>

	<dt>Favicon (.ico)</dt>
	<dd>
		<img class="mediaSelect thumbnail" data-key="favicon" src="/_media/{favicon}" />
		<button class="delete" data-key="favicon"></button>
	<dd>

	<dt>Header Image</dt>
	<dd>
		<img class="mediaSelect thumbnail" data-key="headerImage" src="/_media/{headerImage}" />
		<button type="button" class="delete" data-key="headerImage"></button>
	</dd>
</dl>
