<dl class="entries">
	<dt>Title</dt>
	<dd><input type="text" class="title settingsEntry" value="{title}"></dd>

	<dt>Theme</dt>
	<dd><input type="text" class="theme settingsEntry" value="{theme}"></dd>

	<dt>Admin Password</dt>
	<dd><input type="text" class="adminPassword settingsEntry" value="{adminPassword}"></dd>

	<dt>Favicon</dt>
	<dd>
		<img class="favicon mediaSelect thumbnail" src="{favicon}" />
	<dd>

	<dt>Header Image</dt>
	<dd>
		<img class="headerImage mediaSelect thumbnail" src="{headerImage}" />
	</dd>
</dl>
