#page
{
	margin-top: 50px;
	margin-left: calc(115px + 50px);
	padding: 10px;
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	max-width: calc(100% - 190px - 50px);
}

#page dd
{
	margin-left: 0px;
	margin-bottom: 10px;
}

#page.new
{
	width: 100%;
}

